# Ігнорувати файли, згенеровані системою
.DS_Store
Thumbs.db

# Ігнорувати лог-файли
*.log

# Ігнорувати тимчасові файли редактора
*~
*.swp

# Ігнорувати папку для збірки
build/
dist/

# Ігнорувати файли та папки, пов'язані з Node.js
node_modules/

# Ігнорувати файли та папки, пов'язані з Python
__pycache__/
*.py[cod]

# Ігнорувати конфігураційні файли операційної системи
*.bak
*.tmp

# Ігнорувати середовища віртуальних машин Python
env/
venv/

# Ігнорувати секретні файли (паролі, токени)
.env
*.key
*.pem
